*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#0f0f0f;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
}

header{
    width:100%;
    position:fixed;
    top:0;
    background:#111;
    padding:20px 10%;
    z-index:1000;
    border-bottom:1px solid #222;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav h2{
    color:#00ffcc;
}

nav ul{
    display:flex;
    list-style:none;
    gap:25px;
}

nav a{
    color:white;
    text-decoration:none;
    transition:0.3s;
}

nav a:hover{
    color:#00ffcc;
}

.hero{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
}

.hero-text h1{
    font-size:60px;
    margin-bottom:20px;
}

.hero-text span{
    color:#00ffcc;
}

.hero-text h2{
    font-size:30px;
    margin-bottom:20px;
    color:#aaa;
}

.hero-text p{
    max-width:700px;
    line-height:1.8;
    margin-bottom:30px;
}

}
