*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
}

body{
    background:#050816;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
}

header{
    width:100%;
    position:fixed;
    top:0;
    background:rgba(0,0,0,0.4);
    backdrop-filter:blur(10px);
    z-index:1000;
    border-bottom:1px solid rgba(255,255,255,0.1);
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 10%;
}

.logo{
    font-size:32px;
    font-weight:bold;
    color:#00ffe0;
}

nav ul{
    display:flex;
    list-style:none;
    gap:30px;
}

nav a{
    color:white;
    text-decoration:none;
    transition:0.3s;
}

nav a:hover{
    color:#00ffe0;
}

.hero{
    min-height:100vh;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:120px 10%;
    gap:50px;
}

.hero-text{
    flex:1;
}

.hero-text h3{
    color:#c084fc;
    margin-bottom:20px;
}

.hero-text h1{
    font-size:70px;
    margin-bottom:20px;
}

.hero-text span{
    color:#00ffe0;
}

.hero-text h2{
    font-size:40px;
    margin-bottom:20px;
    color:#d1d5db;
}

.hero-text p{
    line-height:1.8;
    max-width:600px;
    margin-bottom:30px;
}

.buttons{
    display:flex;
    gap:20px;
}
